@use '../styles/typography' as typo;
@use '../styles/colors' as col;
@use '../styles/mixins' as mixin;

header {
  display: flex;
  justify-content: center;
  background-color: col.$primary;
  color: col.$porcelain;
  padding: 10px 15px;
  @include mixin.window-width(sm) {
    justify-content: space-between;
  }
}

.brand {
  display: none;
  font-family: typo.$brand;
  font-size: 1.5rem;
  @include mixin.window-width(sm) {
    display: block;
  }
}

nav {
  font-size: 1.2rem;
  a {
    text-decoration: none;
    color: inherit;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
